<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--Cfg Dependent Class-->
<bean id="dtdc" class="com.nt.comp.DTDC"/>
<bean id="bDart" class="com.nt.comp.BlueDart"/>
<bean id="fedfx" class="com.nt.comp.FedFx"/>
<!-- Cfg Target Class -->
<bean id="fpkt" class="com.nt.comp.FlipKart">
<property name="courier" ref="dtdc"/>
</bean>
</beans>